In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
listOfKey = []

In [3]:
file = open("data.txt")
line = file.read()#.replace("\n," ")
file.close()

In [4]:
#mini str for test
str1 = 'aABCaXYZvABCDEFGe'

In [5]:
def isThreeGurds(str1,i):
    if str1[i-1].islower() and str1[i].isupper() and str1[i+1].isupper() and str1[i+2].isupper() and str1[i+3].islower():
        return 1
    else:
        return 0

In [6]:
len(line)

100008

In [7]:
def find_the_key(strData):
    i=1
    j=0
    for i in range(len(strData)-7):
        if isThreeGurds(strData,i):
            j = i+4
            if isThreeGurds(strData,j):
                print (strData[i+3] ,ord(strData[i+2])+ord(strData[i+4]),i+4, strData[i+2],strData[i+4])
                keyLetter = (strData[i+3],ord(strData[i+2])+ord(strData[i+4]))
                listOfKey.append(keyLetter)

In [8]:
find_the_key(line)

i 130 15208 A A
n 150 20191 K K
n 132 28193 B B
o 148 34854 J J
t 134 46042 C C
i 146 47108 I I
e 136 81185 D D
t 144 83312 H H
g 138 91518 E E
a 142 94188 G G
r 140 99941 F F

In [9]:
df = pd.DataFrame(listOfKey)

In [10]:
df

    0    1
0   i  130
1   n  150
2   n  132
3   o  148
4   t  134
5   i  146
6   e  136
7   t  144
8   g  138
9   a  142
10  r  140

In [11]:
dfnew = df.rename(columns={0:'key_letter', 1:'sum_of_gurds'})

In [12]:
dfnew = dfnew.sort_values('sum_of_gurds')

In [13]:
dfnew

   key_letter  sum_of_gurds
0           i           130
2           n           132
4           t           134
6           e           136
8           g           138
10          r           140
9           a           142
7           t           144
5           i           146
3           o           148
1           n           150

In [14]:
print (dfnew['key_letter'])

0     i
2     n
4     t
6     e
8     g
10    r
9     a
7     t
5     i
3     o
1     n
Name: key_letter, dtype: object